<nav class="navbar navbar-light">
  <a class="navbar-brand" href="{{ site.link }}">{{ site.title }}</a>
  <ul class="nav navbar-nav nav-pills">
    {% for item in nav_bar.get_items %}
    <li class="nav-item {% if item.current %}active{% endif %}">
      <a class="nav-link" href="{{ item.get_link }}">{{ item.title }}{% if item.current %}<span class="sr-only">(current)</span>{% endif %}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
